* { box-sizing: border-box; }


#left {
  width: 25%;
  float: left;
  /* border: thin solid black; */
}

.divs {
  text-align: center;
  border: 2px solid black;
  background-color: grey;
  width: 25%;
  float: right;
  text-align: center;
  color: white;
  font-family: fantasy;
}


.my-form button,
.my-form input,
.my-form textarea,
.my-form fieldset  {
  background-color: white;
  border: thin solid grey;
  border-radius: 25px;
  padding: 10px;
  margin: 10px 0 10px 0;
}

#content img {
  max-width: 100%;
}

.my-form button { float: right; }
input, textarea { width: 100%; resize: none; }

fieldset {
  min-width: 0; /* Trick for skipping fieldset layout breaking */
}
