body {margin: 0px; font-family: 'Special Elite'; overflow: hidden; background: url("img/metal2.jpg") no-repeat center; background-size: 100%; user-select: none; -moz-user-select: none;}

#divContenedor {
  height: 100%;
}

#title {
  background: url("img/metal.jpg");
  background-size: cover;
  text-align: center;
  padding: 0.5%;
  font-size: 300%;
  color: white;
  border-bottom: 2px solid black;
  box-shadow: 2px 5px 5px black;
  z-index: 99;
}

#pj {
  cursor: pointer;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  background: url("img/sprites/megaman.png");
  background-size: 1400px 850px;
  height: 850px;
  width: 30%;
  filter: drop-shadow(0px 5px 10px black);
}

#menu {
  overflow-x: hidden;
  overflow-y: scroll;
  float: right;
  background: rgba(25,25,25,1);
  width: 40%;
  height: 100%;
  border-left: thin solid black;
  border-bottom: 2px solid black;
  z-index: 98;
  box-shadow: 0px 10px 10px black;
}

#menu-title {
  padding: 2%;
  float: left;
  color: white;
  font-size: 250%;
  text-align: center;
  width: 100%;
  height: 100%;
  background: url("img/metal.jpg") center;
  background-size: cover;
}

#score {
  font-size: 80%;
  width: 94%;
  padding: 1%;
  margin: 0.5%;
  background: rgba(25,25,25,0.6);
  float: left;
  display: table;
  color: white;
  text-align: left;
  border: thin solid grey;
}

.money {
  width: 100%;
  float: left;
  margin-right: 5%;
}

#fuse {
  text-align: center;
  width: 100%;
  border: thin solid grey;
  cursor: pointer;
  font-size: 125%;
  padding: 1.5%;
  background: rgba(25,25,25,0.8);
  float: left;
  color: white;
}

.boton-toggle-menu {
  cursor: pointer;
  padding: 1%;
  background: rgba(100,100,100,0.5);
  float: left;
  margin: 1%;
  border: thin solid grey;
}


#menu-contenedor-objetos {
  overflow-x: hidden;
  width: 94.5%;
  height: 400px;
  margin: 1%;
  background: yellow;
  float: left;
  background: black;
  overflow-y: scroll;
  border: 2px solid grey;
  display: none;
}

.menu-objetos {
  border-radius: 2px 2px 2px 2px;
  padding: 1%;
  border: thin solid white;
  margin: 0.5%;
  background: #151515;
  cursor: pointer;
  text-align: left;
}

.tenencias{
  float: right;
  font-size: 20px;
}

.price {
  margin-right: -13%;
  margin-top: 5%;
  float: right;
  font-size: 20px;
}


#menu-contenedor-stats {
  font-size: 30%;
  padding: 1%;
  text-align: left;
  width: 94.5%;
  height: 300px;
  background: yellow;
  float: left;
  background: black;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid grey;
  display: none;
}

#tituloByItems {
  font-size: 200%;
}

.restosStats {
  margin: 0.5%;
  font-size: 150%;
}

#menu-contenedor-upgrades {
  overflow-x: hidden;
  width: 94.5%;
  height: 400px;
  margin: 1%;
  background: yellow;
  float: left;
  background: black;
  overflow-y: scroll;
  border: 2px solid grey;
  display: none;
}

#combo {
  padding: 0.2%;
  margin: 0.5%;
  margin-left: 25%;
  position: absolute;
  color: white;
  font-size: 100%;
  color: crimson;
  display: none;
}

#footer {
  box-shadow: 0px -5px 5px black;
  border-top: 2px solid black;
  bottom: 0px;
  position: fixed;
  background: url('img/metal.jpg');
  width: 100%;
  height: 15px;
}
