body {margin: 0 auto; background: #363636; background: url('wallpaper.gif') center; background-size: cover;}

div {
  cursor: pointer;
  width: 90%;
  float: left;
  margin-left: 5%;
  margin-top: 1.5%;
  background: rgba(255,255,255,0.05);
  text-align: center;
}

a {
  font-family: fantasy;
  color: white;
  text-decoration: none;
  font-size: 200%;
}
