<div id="paneltop">
  <!-- El link h5 eliteguías -->
  <div class="ipaneltop"><a id="textopaneltop" href="https://www.3djuegos.com/" target="_blank"> NEWS </a></div>
  <!-- El link h5 eliteguías del ffxiii -->
  <div class="ipaneltop"><a id="textopaneltop" href="gallery.html" target="_blank"> Galería </a></div>
  <!-- El link h5 eliteguías del ffxiii-2 -->
  <div class="ipaneltop"><a id="textopaneltop" href="videos.html" target="_blank"> Vídeos </a></div>
  <!-- El link h5 eliteguías del ffxiii-3 -->
  <div class="ipaneltop"><a id="textopaneltop" href="https://www.eliteguias.com/" target="_blank"> Eliteguias </a></div>
  <!-- El link h5 eliteguías del ffviiCC -->
  <div class="ipaneltop"><a id="textopaneltop" href="descargas.html" target="_blank"> Descargas </a></div>
  <!-- El link h5 eliteguías del FFXV -->
  <div class="ipaneltop"><a id="textopaneltop" href="enlaces.html" target="_blank"> Enlaces </a></div>
</div>
