<div id="divFinal">
<div id="lineafooter"></div>
  <div class="divtexto">
    "He hecho esta página con todo mi coraçao, mi esfuerzo y dedicación.
    Todo para el mejor profe del mundo, Hulolo."
  </div>
  <div id="divimagenfooter"><a href="index.html" target="_blank"><img class="imgfooter" id="logofooter" src="img/logo.png"/></a></div>
  <!-- Div del email -->
  <div class="divFItem"><a href="mailto:fyregun@gmail.com"><img class="imgfooter" src="img/social/mail.png"/></a></div>
  <!-- Div del propietario -->
  <div class="divFItem"><a href="https://www.instagram.com/tak3tori/" target="_blank"><img class="imgfooter" src="img/social/instagram.png"/></a></div>
  <div class="divFItem"><a href="https://twitter.com/abuelasinmuleta" target="_blank"><img class="imgfooter" src="img/social/twitter.png"/></a></div>
  <div class="divFItem"><a class="bottomtext">Joel Olivera Organvidez</a></div>
</div>
