<!-- https://www.w3schools.com/howto/howto_html_include.asp -->
  <!-- El primer contenedor -->
  <div id="divLogo">
    <!-- El icono de la página -->
    <div>
      <a alt="Indice" href="index.html" target="_blank"><img id="logo" src="img/logo.png"/></a>
    </div>
    <!-- El contenedor del buscador -->
  	<div id="buscador">
	    <!-- El botón de buscar -->
  	    <div id="botonbuscar">Ir</div>
        <!-- La barra de buscar -->
  		<input id="barrabuscador" type="buscar" name="buscar" placeholder="Buscar..."/>

  	</div>
  </div>

  <!-- La barra para abrir el desplegable -->
  <div id="expand" onclick="expand()">▼</div>
      <!-- El contenedor de los links a las otras páginas -->
		  <div id="divLinks">
        <!-- El div que lleva a la página de Demon Souls -->
				<div class="divItems" id="demonsoulsdiv"><a id="textolinks" href="demonsouls.html"  target="_blank">Demon Souls</a></div>
        <!-- El div que lleva a la página de Dark Souls -->
				<div class="divItems" id="darksoulsdiv"><a id="textolinks" href="darksouls.html"  target="_blank">Dark Souls</a></div>
        <!-- El div que lleva a la página de Dark Souls II -->
				<div class="divItems" id="darksoulsiidiv"><a id="textolinks" href="darksoulsii.html"  target="_blank">Dark Souls II</a></div>
        <!-- El div que lleva a la página de Dark Souls III -->
				<div class="divItems" id="darksoulsiiidiv"><a id="textolinks" href="darksoulsiii.html"  target="_blank">Dark Souls III</a></div>
        <!-- El div que lleva a la página de Bloodborne -->
        <div class="divItems" id="bloodbornediv"><a id="textolinks" href="bloodborne.html"  target="_blank">Bloodborne</a></div>
		  </div>
  <!-- La barra para cerrar el desplegable -->
  <div id="collapse" onclick="collapse()">▲</div>
