<div>
  <div class="divcontenedorexterior" id="divcontenedorexterior1"><h2>Equipamiento</h2></div>
  <div id="divcontenedorinterior1"  class="divcontenedorinterior">
    <div id="divinteriorarmas"      class="divinterior1"> 	<h3>Armas		</h3>	</div>
        <div id="alabardas"        class="armas divinterior2 equipamiento">       <h4> Alabardas        </h4>	</div>
          <h5 class="alabardas"> Alabarda </h5>
          <h5 class="alabardas"> Alabarda Caballero Alado </h5>
          <h5 class="alabardas"> Alabarda empuñadura roja </h5>
          <h5 class="alabardas" > Guja </h5>
          <h5 class="alabardas"> Guja de Caballero Negro </h5>
          <h5 class="alabardas"> Hacha media luna </h5>
          <h5 class="alabardas"> Lucerne </h5>
          <h5 class="alabardas"> Yesca de inmolación </h5>
        <div id="antorcha"        class="armas divinterior2 equipamiento">	       <h4> Antorcha 	       </h4>	</div>
          <h5 class="antorcha"> Antorcha </h5>
        <div id="arcos"            class="armas divinterior2 equipamiento">       <h4> Arcos            </h4>	</div>
          <h5 class="arcos"> Arco compuesto </h5>
          <h5 class="arcos"> Arco corto </h5>
          <h5 class="arcos"> Arco de jinete dragón </h5>
          <h5 class="arcos"> Arco largo </h5>
          <h5 class="arcos"> Arco negro de Pharis </h5>
        <div id="arcosgrandes"     class="armas divinterior2 equipamiento">       <h4> Arcos Grandes    </h4>	</div>
          <h5 class="arcosgrandes"> Arco grande del Asesino de dragones </h5>
          <h5 class="arcosgrandes"> Arco grande de Matademonios </h5>
        <div id="ballestas"        class="armas divinterior2 equipamiento">       <h4> Ballestas        </h4>	</div>
          <h5 class="ballestas"> Arbalesta </h5>
          <h5 class="ballestas"> Avelyn </h5>
          <h5 class="ballestas"> Ballesta de caballero </h5>
          <h5 class="ballestas"> Ballesta de tirador </h5>
          <h5 class="ballestas"> Ballesta ligera </h5>
          <h5 class="ballestas"> Ballesta pesada </h5>
        <div id="bastones"         class="armas divinterior2 equipamiento">       <h4> Campanas 		     </h4>	</div>
          <h5 class="bastones"> Bastón de cristal de sabio </h5>
          <h5 class="bastones"> Bastón de cuentacuentos </h5>
          <h5 class="bastones"> Bastón de hechicero </h5>
          <h5 class="bastones"> Bastón de hechicero de la corte </h5>
          <h5 class="bastones"> Bastón de hereje </h5>
          <h5 class="bastones"> Bastón de hombre larva </h5>
          <h5 class="bastones"> Bastón de Izalith </h5>
          <h5 class="bastones"> Bastón de mendigo </h5>
          <h5 class="bastones"> Gran bastón de archidiácono </h5>
          <h5 class="bastones"> Rama de árbol de bruja </h5>
        <div id="campanas"         class="armas divinterior2 equipamiento">       <h4> Campanas 		     </h4>	</div>
          <h5 class="campanas"> Campana de Caitha </h5>
          <h5 class="campanas"> Campana de cristal </h5>
          <h5 class="campanas"> Campana del sacerdote </h5>
          <h5 class="campanas"> Campana de Yorshka </h5>
          <h5 class="campanas"> Campana sagrada del clérigo </h5>
          <h5 class="campanas"> Vid campana de árbol santo </h5>
        <div id="dagas"            class="armas divinterior2 equipamiento">       <h4> Dagas 		       </h4>	</div>
          <h5 class="dagas"> Arpa Candelero de erudito </h5>
          <h5 class="dagas"> Cuchillo de bandido </h5>
          <h5 class="dagas"> Daga Daga de Doncella </h5>
          <h5 class="dagas"> Daga de paradas </h5>
          <h5 class="dagas"> Daga podrida de Ghru </h5>
          <h5 class="dagas"> Dagas gemelas de bandolero </h5>
          <h5 class="dagas"> Espada corta de coxis </h5>
          <h5 class="dagas"> Gran cuchillo de cuervo </h5>
          <h5 class="dagas"> Lanza de coxis </h5>
          <h5 class="dagas"> Rompemalla </h5>
          <h5 class="dagas"> Rompemalla bendita </h5>
        <div id="espadascurvas"    class="armas divinterior2 equipamiento">       <h4> Espadas Curvas   </h4>	</div>
          <h5 class="espadascurvas"> Bracamarte </h5>
          <h5 class="espadascurvas"> Espada curva de Caballero Pontífice </h5>
          <h5 class="espadascurvas"> Espada curva de Carthus </h5>
          <h5 class="espadascurvas"> Espada curva podrida de Ghru </h5>
          <h5 class="espadascurvas"> Espada de media luna </h5>
          <h5 class="espadascurvas"> Espada guardián pinturas </h5>
          <h5 class="espadascurvas"> Espadas gemelas del guardián </h5>
          <h5 class="espadascurvas"> Espadas gemelas de mercenario </h5>
          <h5 class="espadascurvas"> Shotel </h5>
          <h5 class="espadascurvas"> Shotel de Carthus </h5>
        <div id="estoques"         class="armas divinterior2 equipamiento">	     <h4> Estoques 		     </h4>	</div>
          <h5 class="estoques"> Estoque </h5>
          <h5 class="estoques"> Estoque de Irithyll </h5>
          <h5 class="estoques"> Estoque de Ricard </h5>
          <h5 class="estoques"> Ropera </h5>
        <div id="espadasrectas"    class="armas divinterior2 equipamiento">       <h4> Espadas Rectas   </h4>	</div>
          <h5 class="espadasrectas"> Espada ancha </h5>
          <h5 class="espadasrectas"> Espada corta </h5>
          <h5 class="espadasrectas"> Espada de caballero de Lothric </h5>
          <h5 class="espadasrectas"> Espada de la oscuridad </h5>
          <h5 class="espadasrectas"> Espada de Luz Solar </h5>
          <h5 class="espadasrectas"> Espada de Morion </h5>
          <h5 class="espadasrectas"> Espada larga </h5>
          <h5 class="espadasrectas"> Espada recta de Anri </h5>
          <h5 class="espadasrectas"> Espada recta de Astora </h5>
          <h5 class="espadasrectas"> Espada recta de Irithyll </h5>
          <h5 class="espadasrectas"> Espada recta dentada </h5>
          <h5 class="espadasrectas"> Espada recta rota </h5>
          <h5 class="espadasrectas"> Espadas gemelas de Gotthard </h5>
        <div id="espadones"        class="armas divinterior2 equipamiento">       <h4> Espadones        </h4>	</div>
          <h5 class="espadones"> Claymore </h5>
          <h5 class="espadones"> Espada bastarda </h5>
          <h5 class="espadones"> Espada de Caballero Negro </h5>
          <h5 class="espadones"> Espadón de verdugo </h5>
          <h5 class="espadones"> Espadón Sangre de Draco </h5>
          <h5 class="espadones"> Flamígera </h5>
          <h5 class="espadones"> Soberano de las tormentas </h5>
        <div id="espadonescurvos"  class="armas divinterior2 equipamiento">       <h4> Espadones Curvos </h4>	</div>
          <h5 class="espadonescurvos"> Espada curva del viejo lobo </h5>
          <h5 class="espadonescurvos"> Espadón curvo de Carthus </h5>
          <h5 class="espadonescurvos"> Espadón del exilio </h5>
          <h5 class="espadonescurvos"> Murakumo </h5>
        <div id="garras"           class="armas divinterior2 equipamiento">       <h4> Garras           </h4>	</div>
          <h5 class="garras"> Garra </h5>
          <h5 class="garras"> Garras de maniquí </h5>
        <div id="grandeshachas"    class="armas divinterior2 equipamiento">       <h4> Grandes Hachas   </h4>	</div>
          <h5 class="grandeshachas"> Gran hacha </h5>
          <h5 class="grandeshachas"> Gran hacha de Caballero Negro </h5>
          <h5 class="grandeshachas"> Gran machete </h5>
        <div id="katanas"          class="armas divinterior2 equipamiento">	     <h4> Katanas          </h4>	</div>
          <h5 class="katanas"> Deriva Oscura </h5>
          <h5 class="katanas"> Hoja del caos </h5>
          <h5 class="katanas"> Hoja negra </h5>
          <h5 class="katanas"> Nodachi </h5>
          <h5 class="katanas"> Onikiri y Ubadachi </h5>
          <h5 class="katanas"> Sed de sangre </h5>
          <h5 class="katanas"> Uchigatana </h5>
        <div id="lanzas"		       class="armas divinterior2 equipamiento">       <h4> Lanzas 		       </h4>	</div>
          <h5 class="lanzas"> Bidente del santo </h5>
          <h5 class="lanzas"> Horca de cuatro puntas </h5>
          <h5 class="lanzas"> Lanza alada </h5>
          <h5 class="lanzas"> Lanza del Asesino de dragones </h5>
          <h5 class="lanzas"> Lanza de Yorshka </h5>
          <h5 class="lanzas"> Lanza llameante de gárgola </h5>
          <h5 class="lanzas"> Lanza podrida de Ghru </h5>
          <h5 class="lanzas"> Lanza ritual dorada </h5>
          <h5 class="lanzas"> Lanzas gemelas de Drang </h5>
          <h5 class="lanzas"> Partisana Soldador </h5>
        <div id="latigos"          class="armas divinterior2 equipamiento">       <h4> Látigos		       </h4>	</div>
          <h5 class="latigos"> Cabellos de bruja </h5>
          <h5 class="latigos"> Látigo </h5>
          <h5 class="latigos"> Látigo dentado </h5>
          <h5 class="latigos"> Látigo moteado </h5>
        <div id="llamas"		       class="armas divinterior2 equipamiento">       <h4> Llama   	       </h4>	</div>
          <h5 class="llamas"> Llama de piromancia </h5>
        <div id="martillos"        class="armas divinterior2 equipamiento">       <h4> Martillos        </h4>	</div>
          <h5 class="martillos"> Estrella de la mañana </h5>
          <h5 class="martillos"> Garrote </h5>
          <h5 class="martillos"> Garrote reforzado </h5>
          <h5 class="martillos"> Martillos de Drang </h5>
          <h5 class="martillos"> Martillo de herrero </h5>
          <h5 class="martillos"> Maza </h5>
          <h5 class="martillos"> Maza de guerra </h5>
          <h5 class="martillos"> Pico de Heysel </h5>
        <div id="picas"			       class="armas divinterior2 equipamiento">       <h4> Picas 		       </h4>	</div>
          <h5 class="picas"> Gran Lanza </h5>
          <h5 class="picas"> Lanza larga caballero Lothric </h5>
          <h5 class="picas"> Pica </h5>
        <div id="puños"			       class="armas divinterior2 equipamiento">       <h4> Puños            </h4>	</div>
          <h5 class="puños"> Cestus </h5>
          <h5 class="puños"> Mano Oscura </h5>
        <div id="segadoras"		     class="armas divinterior2 equipamiento">       <h4> Segadoras 	     </h4>	</div>
          <h5 class="segadoras"> Gran guadaña </h5>
          <h5 class="segadoras"> Gran guadaña de Caballero Pontífice </h5>
          <h5 class="segadoras"> Guadaña de cuervo grande </h5>
        <div id="talismanes" 	     class="armas divinterior2 equipamiento">       <h4> Talismanes 	     </h4>	</div>
          <h5 class="talismanes"> Talismán </h5>
          <h5 class="talismanes"> Talismán de la luz solar</h5>
          <h5 class="talismanes"> Talismán de pelo blanco </h5>
          <h5 class="talismanes"> Talismán de santo </h5>
          <h5 class="talismanes"> Talismán sin sol </h5>
          <h5 class="talismanes"> Talismán tela </h5>
        <div id="ultraespadones"   class="armas divinterior2 equipamiento">       <h4> Ultra Espadones  </h4> 	</div>
          <h5 class="ultraespadones"> Espadón </h5>
          <h5 class="ultraespadones"> Espadón Caballero Lothric </h5>
          <h5 class="ultraespadones"> Espadón de Astora </h5>
          <h5 class="ultraespadones"> Espadón de caballero de la Catedral </h5>
          <h5 class="ultraespadones"> Espadón de Caballero Negro </h5>
          <h5 class="ultraespadones"> Ultra espadón del humo </h5>
          <h5 class="ultraespadones"> Zweihander </h5>
        <div id="armasdejefes"     class="armas divinterior2 equipamiento">       <h4> Armas de jefes   </h4> 	</div>
          <h5 class="armasdejefes"> Alabarda de Gundyr </h5>
          <h5 class="armasdejefes"> Arco largo de Luna Oscura </h5>
          <h5 class="armasdejefes"> Candelero de clérigo </h5>
          <h5 class="armasdejefes"> Espada curva de tormenta </h5>
          <h5 class="armasdejefes"> Espada sagrada de Lothric </h5>
          <h5 class="armasdejefes"> Espada sagrada de Wolnir </h5>
          <h5 class="armasdejefes"> Espadas encantadas de la Bailarina </h5>
          <h5 class="armasdejefes"> Espadón de asesino de Huecos </h5>
          <h5 class="armasdejefes"> Espadón de Caballero Lobo </h5>
          <h5 class="armasdejefes"> Espadón de Enlace del Fuego </h5>
          <h5 class="armasdejefes"> Espadón de Farron </h5>
          <h5 class="armasdejefes"> Espadón del juicio </h5>
          <h5 class="armasdejefes"> Espadón de Lorian </h5>
          <h5 class="armasdejefes"> Espadón de los Príncipes Gemelos </h5>
          <h5 class="armasdejefes"> Espadón de luz de luna </h5>
          <h5 class="armasdejefes"> Espadón profanado </h5>
          <h5 class="armasdejefes"> Estoque de sabio de cristal </h5>
          <h5 class="armasdejefes"> Gran hacha de demonio </h5>
          <h5 class="armasdejefes"> Gran hacha del Asesino de dragones </h5>
          <h5 class="armasdejefes"> Gran machete de Yhorm </h5>
          <h5 class="armasdejefes"> Gran martillo del viejo rey </h5>
          <h5 class="armasdejefes"> Gran martillo de Vordt </h5>
          <h5 class="armasdejefes"> Lanza de Arstor </h5>
          <h5 class="armasdejefes"> Lanza-espada del Asesino de dragones </h5>
          <h5 class="armasdejefes"> Puño de demonio </h5>


    <div id="divinteriorarmaduras"  class="divinterior1">	  <h3>Armaduras	</h3>	</div>
        <div id="cabeza"           class="armaduras divinterior2 equipamiento">   <h4> Cabeza           </h4> 	</div>
        <div id="torso"            class="armaduras divinterior2 equipamiento">   <h4> Torso            </h4> 	</div>
        <div id="manos"            class="armaduras divinterior2 equipamiento">   <h4> Manos            </h4> 	</div>
        <div id="piernas"          class="armaduras divinterior2 equipamiento">   <h4> Piernas          </h4> 	</div>

    <div id="divinteriorescudos"    class="divinterior1"> 	<h3>Escudos   </h3>	</div>
        <div id="escudospequeños" class="escudos divinterior2 equipamiento">	     <h4> Escudos Pequeños </h4>	</div>
        <div id="escudosnormales" class="escudos divinterior2 equipamiento">	     <h4> Escudos Medianos </h4>	</div>
        <div id="escudosgrandes"  class="escudos divinterior2 equipamiento">	     <h4> Escudos Grandes  </h4>	</div>

    <div id="divinterioranillos"  	class="divinterior1"> 	<h3>Anillos		</h3>	</div>
        <div id="divanillos" class="anillos divinterior2 equipamiento">
          <h5>Anillo blanco falso</h5>
          <h5>Anillo de Carthus</h5>
          <h5>Anillo de Chloranthy</h5>
          <h5>Anillo de Farron</h5>
          <h5>Anillo de Favor</h5>
          <h5>Anillo de Flynn</h5>
          <h5>Anillo de Morne</h5>
          <h5>Anillo de agarre de fuego</h5>
          <h5>Anillo de agarre eléctrico</h5>
          <h5>Anillo de agarre mágico</h5>
          <h5>Anillo de agarre oscuro</h5>
          <h5>Anillo de bruja</h5>
          <h5>Anillo de caballero</h5>
          <h5>Anillo de calavera</h5>
          <h5>Anillo de cazador</h5>
          <h5>Anillo de dragón joven</h5>
          <h5>Anillo de dragón rugiente</h5>
          <h5>Anillo de emblema de dragón dormido</h5>
          <h5>Anillo de emblema de dragón eterno</h5>
          <h5>Anillo de erudito</h5>
          <h5>Anillo de escama de dragón</h5>
          <h5>Anillo de escudo de Lloyd</h5>
          <h5>Anillo de espada de Lloyd</h5>
          <h5>Anillo de estusv</h5>
          <h5>Anillo de estus de ceniza</h5>
          <h5>Anillo de gato de plata</h5>
          <h5>Anillo de inversión</h5>
          <h5>Anillo de la Luna Oscura</h5>
          <h5>Anillo de la Princesa de la Luz Solar</h5>
          <h5>Anillo de la calamidad</h5>
          <h5>Anillo de la corona del Anochecer</h5>
          <h5>Anillo de lobo</h5>
          <h5>Anillo de lágrima de piedra azul</h5>
          <h5>Anillo de lágrima de piedra roja</h5>
          <h5>Anillo de mordisco de carne</h5>
          <h5>Anillo de mordisco maldito</h5>
          <h5>Anillo de mordisco ponzoñoso</h5>
          <h5>Anillo de mordisco sangriento</h5>
          <h5>Anillo de niebla</h5>
          <h5>Anillo de oración</h5>
          <h5>Anillo de pezuña de caballo</h5>
          <h5>Anillo de placa de piedra de llama</h5>
          <h5>Anillo de placa de piedra de trueno</h5>
          <h5>Anillo de placa de piedra moteada</h5>
          <h5>Anillo de placa de piedra mágica</h5>
          <h5>Anillo de placa de piedra oscura</h5>
          <h5>Anillo de protección de acero</h5>
          <h5>Anillo de sabio</h5>
          <h5>Anillo de sangre de Carthus</h5>
          <h5>Anillo de santo</h5>
          <h5>Anillo de serpiente dorada codiciosa</h5>
          <h5>Anillo de serpiente plateada codiciosa</h5>
          <h5>Anillo de veta de madera</h5>
          <h5>Anillo de vida</h5>
          <h5>Anillo del Asesino de caballeros</h5>
          <h5>Anillo del Gran Pantano</h5>
          <h5>Anillo del Primogénito del Sol</h5>
          <h5>Anillo del abejorro</h5>
          <h5>Anillo del halcón</h5>
          <h5>Anillo del león</h5>
          <h5>Anillo del mal de ojo</h5>
          <h5>Anillo del sacrificio</h5>
          <h5>Anillo oscuro falso</h5>
          <h5>Anillo profundo</h5>
          <h5>Ojo derecho del Pontífice</h5>
          <h5>Rubí de Aldrich</h5>
          <h5>Zafiro de Aldrich</h5>
        </div>

    <div id="divinteriorobjetos"  	class="divinterior1"> 	<h3>Objetos		</h3>	</div>
        <div id="consumibles"     class="objetos divinterior2 equipamiento">	 <h4> Consumibles  	   </h4>	</div>
        <div id="herramientas"    class="objetos divinterior2 equipamiento">	 <h4> Herramientas	   </h4>	</div>
        <div id="minerales"       class="objetos divinterior2 equipamiento">	 <h4> Minerales  	     </h4>	</div>
        <div id="proyectiles"  	  class="objetos divinterior2 equipamiento">	 <h4> Proyectiles  	   </h4>	</div>
        <div id="municion"  	    class="objetos divinterior2 equipamiento">	 <h4> Munición         </h4>	</div>
        <div id="almas"  	 	      class="objetos divinterior2 equipamiento">	 <h4> Almas		  	     </h4>	</div>
        <div id="objetosclave"    class="objetos divinterior2 equipamiento">	 <h4> Objetos Clave    </h4>	</div>
        <div id="multijugador"    class="objetos divinterior2 equipamiento">	 <h4> Multijugador     </h4>	</div>
  </div>

  <div class="divcontenedorexterior" id="divcontenedorexterior2"><h2>Conjuros</h2></div>
  <div id="divcontenedorinterior2" class="divcontenedorinterior">
    <div id="divinterior" class="divinterior1"> <h3>Hechizos</h3></div>
    <div id="divinterior" class="divinterior1"> <h3>Milagros</h3></div>
    <div id="divinterior" class="divinterior1"> <h3>Pirománcias</h3></div>
  </div>


  <div class="divcontenedorexterior" id="divcontenedorexterior3"><h2>Juramentos</h2></div>
  <div id="divcontenedorinterior3" class="divcontenedorinterior">
    <h5> Apiladores </h5>
    <h5> Centinelas </h5>
    <h5> Dedos de Rosaria </h5>
    <h5> Espada de la Luna Oscurade la Luna Oscura </h5>
    <h5> Fiel Aldrich </h5>
    <h5> Guerrero de la Luz Solar </h5>
    <h5> Sabuesos de Farron </h5>
    <h5> Senda Azul </h5>
    <h5> Apiladores </h5>
  </div>

  <div class="divcontenedorexterior" id="divcontenedorexterior4"><h2>Jefes</h2></div>
  <div id="divcontenedorinterior4" class="divcontenedorinterior">

  </div>



  <div class="divcontenedorexterior" id="divcontenedorexterior5"><h2>Clases</h2></div>
  <div id="divcontenedorinterior5" class="divcontenedorinterior">

  </div>


  <div class="divcontenedorexterior" id="divcontenedorexterior6"><h2>Hogueras</h2></div>
  <div id="divcontenedorinterior6" class="divcontenedorinterior">



</div>
</div>
