body {
  margin: 0px;
  background: url("img/background.jpg") no-repeat fixed center;
}

#divLogo {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}

#logo {
  width: 20%;
  height: 10%;
  float: left;
}





#buscador {
  float: right;
  width: 60%;
  height: 100%;
  margin-top: 2.5%;
  margin-right: 1%;
}

#barrabuscador {
	width: 25%;
	background: transparent;
	font-weight: bold;
	font-family: fantasy;
	color: white;
	border: thin solid #444;
	border-radius: 5px 0px 0px 5px;
	animation: glow 1200ms ease-out infinite alternate;
	animation-name: glowbuscador;
	padding: 10px;
	float: right;
}

#botonbuscar {
	width: 5%;
  height: 50%;
	background: transparent;
	border: 1px solid #444;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 0 2px 0 #000;
	float: right;
	animation: glow 1200ms ease-out infinite alternate;
	animation-name: glowbuscador;
	cursor: pointer;
  color: grey;
  font-family: fantasy;
  font-size:195%;
  text-align: center;
}

#botonbuscar:hover {
	width: 5%;
  height: 50%;
	background: transparent;
	border: 1px solid #444;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 0 2px 0 #000;
	float: right;
	animation: glow 1200ms ease-out infinite alternate;
	animation-name: glowbuscador;
	cursor: pointer;
  color: white;
  font-family: fantasy;
  font-size: 200%;
  text-align: center;
}


@keyframes glowbuscador {
    0% {
		border-color: white;
		box-shadow: 0 0 5px grey, inset 0 0 5px white, 0 1px 0 #000;
    }
    100% {
		border-color: white;
		box-shadow: 0 0 10px grey, inset 0 0 5px white, 0 1px 0 #000;
    }
}


#expand {
	background-color: rgba(20, 20, 20, 0.9);
	color: white;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	width: 99.9%;
  border-radius: 0px 0px 90px 90px;
  border: black solid thin;
}

#collapse {
  background-color: rgba(20, 20, 20, 0.9);
	color: white;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	width: 99.9%;
  display: none;
  border-radius: 0px 0px 90px 90px;
  border: black solid thin;
}


#divLinks {
	display: none;
  border: solid black thin;
  box-shadow: 1px 1px 2px black, 0 0 5px black;
  background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);

}

#textolinks{
  text-decoration: none;
  font-family: fantasy;
  color: grey;
}

#textolinks:hover{
  text-decoration: none;
  font-family: fantasy;
  color: white;
}

.divItems {
  font-size: 150%;
  text-align: center;
}

#demonsoulsdiv:hover{
  background: rgba(50,50,50,0.75) 0%;
}

#darksoulsdiv:hover{
  background: rgba(50,50,50,0.75) 0%;
}

#darksoulsiidiv:hover{
  background: rgba(50,50,50,0.75) 0%;
}

#darksoulsiiidiv:hover{
  background: rgba(50,50,50,0.75) 0%;
}

#bloodbornediv:hover{
  background: rgba(50,50,50,0.75) 0%;
}








#mostrar {
	margin-top: 2px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
	opacity: 0.7;
	color: white;
	font-family: fantasy;
	border: transparent;
	height: 150px;
	width: 31.5px;
	border-radius: 0px 15px 15px 0px;
	word-wrap: break-word;
	cursor: pointer;
	animation-name: spaceInLeft;
	animation-duration: 0.1s;
}

#ocultar{
	display: none;
	margin-top: 2px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
	color: white;
	font-family: fantasy;
	border: transparent;
	height: 150px;
	width: 27px;
	border-radius: 0px 15px 15px 0px;
	word-wrap: break-word;
	cursor: pointer;
	animation-name: spaceInLeft;
	animation-duration: 0.3s;
}

#rss {
	display: none;
	float: left;
	margin-top: 2px;
	opacity: 0.8;
	animation-name: spaceInLeft;
	animation-duration: 0.2s;

}


@keyframes spaceInLeft {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scale(.2) translate(-200%, 0%);
            transform: scale(.2) translate(-200%, 0%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

#divCentral {
  margin: 0 auto;
  background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(51,51,51,1) 25%, rgba(47,47,47,1) 51%, rgba(73,73,73,1) 80%, rgba(68,68,68,1) 100%);
  border-radius: 5px;
  border: solid thin #191919;
  height: 100%;
  width: 55%;
  box-shadow: 0 0 6px rgba(0,0,0,0.7);

}




#divcentralnegro {
  background: white;
  border: solid #14141f 2px;
  margin: 5px;
  background: black;
}


#paneltop{
  border: #363636 solid 1px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  align-content: center;
  display: flex;
}

#textopaneltop{
  color: grey;
  text-decoration: none;
}

#textopaneltop:hover{
  color: white;
  text-decoration: none;
}


.ipaneltop {
  width: 18%;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  font-family: Arial;
}



.carousel-buttons {
  text-align: center;
  display: table-cell;
	vertical-align: middle;
  position: relative;
  width: 100%;
}

#button-previous{
  float: left;
  width: 250px;
  height: 602px;
  cursor: pointer;
  font-size: 50px;
  color: white;
  /*opacity: 0.5;*/
  border: transparent;
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%);
  /* background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%); */
}

#button-next{
  float: right;
  width: 250px;
  height: 602px;
  font-size: 50px;
  color: white;
  cursor: pointer;
  /*opacity: 0.5;*/
  border: transparent;
  background: linear-gradient(to left, rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%);
  /*background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(125,185,232,0.01) 1%,rgba(0,0,0,1) 100%); */
}

.carousel-image {
  position: absolute;
  display: none;
  height: 600px;
  width: 54.1%;carousel
  max-width: 100%;
}

.carousel {
  overflow: hidden;
  display: table;
  width: 99.8%;
  height: 600px;
  border: thin solid #363636;
}

.carousel .carousel-image:first-child {
  display: block;
}






.imgtexto {
	width: 31.2%;
	float: left;
	margin-right: 10px;
	border-radius: 10px 0px 0px 10px;
  border-right: 3px solid grey;
}


.textocentral {
  margin: 1%;
	font-size: 13px;
	font-family: fantasy;
	color: white;
	background-color: #1C1C1C;
	border-radius: 10px;
  border: 3px solid grey;
}

.titulotexto {
	font-size: 18px;
	font-weight: bold;
	color: grey;
	font-family: fantasy;
	margin-bottom: 3px;
}






/*
#videodqix {
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: -40px;
	width: 87%;
	/*animation: glow 4000ms ease-out infinite alternate;
	animation-name: glowvideo;
	border-radius: 10px;
}


@keyframes glowvideo {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px white, inset 0 0 5px white, 0 1px 0 #000;
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 10px white, inset 0 0 5px white, 0 1px 0 #000;
    }
}
*/

#titulods {
  background: url('img/darksoulstitulo.jpg') center;
  text-align: center;
  box-shadow: 0.5px 0.5px 20px 5px black inset;
  border: thin solid #363636;
}

#titulodsii {
  background: url('img/darksoulsiititulo.jpg') center top;
  text-align: center;
  box-shadow: 0.5px 0.5px 20px 5px black inset;
  border: thin solid #363636;
}


#titulodsiii {
  background: url('img/darksoulsiiititulo.jpeg') center right;
  text-align: center;
  box-shadow: 0.5px 0.5px 20px 5px black inset;
  border: thin solid #363636;
}

#titulodes {
  background: url('img/demonsoulstitulo.jpg') center;
  text-align: center;
  box-shadow: 0.5px 0.5px 20px 5px black inset;
  border: thin solid #363636;
}

#titulobb {
  background: url('img/bloodborne.jpg') bottom;
  text-align: center;
  box-shadow: 0.5px 0.5px 20px 5px black inset;
  border: thin solid #363636;
}

h7 {
    font-size: 320%;
    font-family: fantasy;
    color: white;
}
#videotitulo {
  width: 100%;
  margin-left: -0.1%;
  margin-bottom: -0.3%;
  border: thin solid #363636;
}

.divcontenedorexterior{
  background: linear-gradient(to left, rgba(50,50,50,1) 0.5%,rgba(40,40,40,1) 99.5%);
  border: thin solid grey;
  color: white;
}

.divcontenedorinterior{
  background-color: grey;
  display: none;
}

.divinterior1{
  background: linear-gradient(to left, rgba(60,60,60,1) 0.5%,rgba(50,50,50,1) 99.5%);
	color: white;
	border: solid thin grey;
  margin-left: 0.5%;
}

.divinterior2{
	color: white;
	background: linear-gradient(to left, rgba(70,70,70,1) 0.5%,rgba(60,60,60,1) 99.5%);
	border: solid thin grey;
  margin-left: 1.3%;
}

h2 {
  margin-left: 3%;
  font-size: 90%;
  font-family: fantasy;
}

h3 {
  margin-left: 3%;
  font-size: 80%;
  font-family: fantasy;
}

h4 {
  margin-left: 3%;
  font-size: 75%;
  font-family: fantasy;
}

h5 {
  display: none;
  margin-left: 5%;
  font-size: 70%;
  color: white;
  font-family: fantasy;
}

.equipamiento{
  display: none;
}




#divFinal {
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(30,30,30,1) 0%,rgba(20,20,20,1) 99%,rgba(10,10,10,1) 100%);
  margin-top: 4%;
  width: 99.9%;
  bottom: 0px;
  box-shadow: 1px 1px 2px black, 0 0 5px black;
}

#lineafooter {
  border: 3px solid #363636;
  background-color: grey;
}

#divtexto {
  width: 100%;
  border: thin solid #363636;
  background-color: #090909;
}


.divtexto {
  color: rgba(100,100,100,1);
  font-size: 80%;
  width: 20%;
  float: left;
  text-align: center;
  margin: 1%;
  margin-top: 2.5%;
}

.divFItem {
  width: 10%;
  margin: 1%;
  margin-left: 1%;
  float: left;
  margin-top: 1.6%;
  text-align: center;
}

.bottomtext {
  text-decoration: none;
  font-size: 110%;
  color: rgba(150,150,150,1);
  font-family: fantasy;
}

#divimagenfooter {
  margin: 0.5%;
  padding: 1%;
  border-right: solid 2px grey;
  border-left: solid 2px grey;
  float: left;
  width: 20%;
}

#logofooter {
  width: 70%;
}
.imgfooter{
  width: 40%;
  filter: grayscale(100%);
}

.imgfooter:hover {
  width: 40%;
  filter: none;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  #botonbuscar {
    width: 9%;
    height: 20%;
  }


  #logo {
    width: 35%;
    height: 20%;
    float: left;
  }

  #colaboraciones {
    width: 20%;
    height: 20%;
  }
}
