/*
                                                    GALERIA
*/
#titulogaleria {
  background: url('img/gallery.gif') no-repeat center;
  font-size: 400%;
  font-family: fantasy;
  color: white;
  text-align: center;
  box-shadow: 0.5px 0.5px 50px 5px black inset;
  border: thin solid #363636;
}

.imggaleria {
  width: 45%;
  margin: 0.5%;
  border: 3px solid black;
  border-radius: 10px;
}
/*
.imggaleria:hover {
  width: 100%;
  margin: 0.5%;
  border: 3px solid black;
  border-radius: 10px;
} */

.imagengaleria:hover .imggaleria {
  width: 100%;
}

.imagengaleria:after {
  content: "";
  display: table;
  clear: both;
}

#galeriaimg {
  border: thin solid #363636;
  background: url('img/unnamed.jpg') center right fixed no-repeat;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

/*
                                                    Hasta aquí
*/

 /*
                                                     VIDEOS
*/

#titulovideos {
  background: url('img/videos.gif') center;
  font-size: 400%;
  font-family: fantasy;
  color: white;
  text-align: center;
  box-shadow: 0.5px 0.5px 50px 5px black inset;
  border: thin solid #363636;
}


#contenedorvideos{
  border: thin solid #363636;
}

.videos {
    width: 100%;
    display: none;
    border: thin solid #363636;
}

#seleccionarvideo {
  width: 100%;
}

/*
                                                    Hasta aquí
*/

/*
                                                    DESCARGAS
*/

#titulodescargas {
  background: url('img/descargas.gif') bottom right;
  font-size: 400%;
  font-family: fantasy;
  color: white;
  text-align: center;
  box-shadow: 0.5px 0.5px 50px 5px black inset;
  border: thin solid #363636;
}

#contenedordescargas {
  border: thin solid #363636;
  text-decoration: none;
  background-color: #161616;
}

.linkdescarga {
  margin-right: 50%;
  margin: 2%;
  color: #555555;
  font-family: fantasy;
}

.contenedordescargas2{
  background-color: #252525;
  padding: 1%;
  margin: 1%;
}

.linksdescarga {
  text-decoration: none;
  color: grey;
}

h9 {
  font-family: fantasy;
  margin: 1%;
  font-size: 200%;
  color: white

}

/*
                                                    Hasta aquí
*/
