body {margin: 0; overflow-x: hidden; background: url('img/waiting.gif'); }

.title {
  background: rgba(100, 36, 36, 0.3);
  margin-top: 3%;
  width: 100%;
  height: 100%;
  font-size: 500%;
  color: white;
  text-align: center;
}

#start {cursor: pointer;}

#timer {display: none}

#board {
  margin-left: 3%;
  padding: 3%;
  width: 100%;
  height: 100%;
}

.card {
  background-size: 90%;
  background-position: center;
  background-repeat: none;
  border: 1.5px solid #363636;
  border-radius: 10%;
  width: 20%;
  height: 200px;
  float: left;
  margin: 0.05%;
  cursor: pointer;
}


#card1 {background: url('img/approaching.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 80%;}

#card2 {background: url('img/tauro.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 30%;}

#card3 {background: url('img/skel.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 80%;}

#card4 {background: url('img/boquiabierto.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 80%;}

#card5 {background: url('img/comerciante.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 45%;}

#card6 {background: url('img/dieforasong.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 80%;}

#card7 {background: url('img/bull.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 65%;}

#card8 {background: url('img/croac.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 75%;}

#card9 {background: url('img/dieforasong.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 80%;}

#card10 {background: url('img/skel.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 80%;}

#card11 {background: url('img/comerciante.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 45%;}

#card12 {background: url('img/boquiabierto.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 80%;}

#card13{background: url('img/approaching.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 80%;}

#card14 {background: url('img/tauro.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 30%;}

#card15 {background: url('img/bull.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 65%;}

#card16 {background: url('img/croac.png')no-repeat center, linear-gradient(rgba(36, 36, 36, 0.2), rgba(100, 30, 30, 0.2)); background-size: 75%;}


@keyframes orientation-on {
  100% {transform: scaleX(-1);}
}
