body {margin: 0px; overflow-x: hidden; background: url('img/arduino.png') center fixed no-repeat;}

#cabecera {
  width: 100%;
  background: url('img/circuitos.png'), linear-gradient(rgba(30, 30, 30, 1), rgba(30, 30, 30, 1), rgba(30, 30, 30, 1.0));
  box-shadow: 2px 2px 10px black;
  height: 143px;
  border: thin solid black;
  position: relative;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6, a{
  font-family: 'ABeeZee';
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

#barra-progreso {animation: cabecera-lights 7s ease-in-out infinite alternate; }

h1  {
  animation: h1-lights 7s ease-in-out infinite forwards;
  font-size: 400%;
  line-height: 20px;
  text-align: center;
}

h2 {
  font-size: 200%;
  line-height: 5px;
  text-align: center;
}

h3 {
  font-size: 100%;
  text-align: right;
  margin-top: -2%;
  margin-right: 2%;
}

@keyframes h1-lights {
  1%  {text-shadow: 0 0 10px red }
  14% {text-shadow: 0 0 10px orange;}
  28% {text-shadow: 0 0 10px yellow;}
  42% {text-shadow: 0 0 10px green;}
  56% {text-shadow: 0 0 10px blue;}
  70% {text-shadow: 0 0 10px indigo;}
  84% {text-shadow: 0 0 10px violet;}
  100% {text-shadow: 0 0 10px red;}
}

@keyframes cabecera-lights {
  0%  {box-shadow: 6px 6px 8px 10px red;}
  14% {box-shadow: 6px 6px 8px 10px orange;}
  28% {box-shadow: 6px 6px 8px 10px yellow;}
  42% {box-shadow: 6px 6px 8px 10px green;}
  56% {box-shadow: 6px 6px 8px 10px blue;}
  70% {box-shadow: 6px 6px 8px 10px indigo;}
  84% {box-shadow: 6px 6px 8px 10px violet;}
  100% {box-shadow: 6px 6px 8px 10px red;}
}

#menu-navegacion {
  background: rgba(30,30,30,0.8);
  border: thin solid black;
  width: 100%;
}

.entrada-menu {
  border: none;
  font-family: fantasy;
  cursor: pointer;
  margin-left: 5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  background: none;
  font-size: 125%;
  color: white;
  text-align: center;
}

.entrada-menu:hover {
  animation: h1-lights 7s ease-in-out infinite forwards;
}

#contenedor-texto-1{
  background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(51,51,51,1) 25%, rgba(47,47,47,1) 51%, rgba(73,73,73,1) 80%, rgba(68,68,68,1) 100%);
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 0px 0px 5px 5px;
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
  padding-left: 0.2%;
  padding-right: 0.2%;
  padding-bottom: 0.2%;
}

#contenedor-texto-2 {
  border-radius: 0px 0px 5px 5px;
  font-size: 200%;
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
  background: rgba(170,170,170,0.8);
}

.titulo  {
  padding: 3%;
  background: url('img/circuitos.png') fixed center, linear-gradient(rgba(30, 50, 50, 1), rgba(30, 100, 100, 1), rgba(30, 50, 50, 1.0));
  box-shadow: 1px 1px 10px 0.2px black;
  color: white;
  font-family: fantasy;
}

.debajo-del-titulo {
  margin: 1%;
  font-family: fantasy;
}

#footer {
  border-top: 5px solid #282828;
  margin-top: 2%;
  background: url('img/circuitos.png'), linear-gradient(rgba(30, 100, 100, 1), rgba(30, 100, 100, 1), rgba(30, 100, 100, 1));
  color: white;
  padding: 1%;
  z-index: 3;
}

#contenedor-titulo-footer{
  float: left;
  width: 10%;
  height: 100%;
}

h4{
  animation: h1-lights 7s ease-in-out infinite forwards;
  font-size: 300%;
}

h5 {
  font-size: 200%;
  margin-left: 0.5%;
}

h6 {
  font-size: 125%;
}

.social {
  margin-left: 5%;
  margin-right: 2%;
  width: 6%;
  margin-top: -1%;
  filter: grayscale(100%);
  cursor: pointer;
}

.social:hover {
  filter: grayscale(0%);
}

#twitter {
  margin-left: 30%;
}

#youtube {
  margin-bottom: 0.5%;
}

#mail {
  margin-bottom: 0.5%;
}
