body {margin: 0px; background-color: #FFF; overflow-x: hidden; background: url('img/arduino.png') center fixed no-repeat;}

#cabecera {
  width: 100%;
  background: url('img/circuitos.png'), linear-gradient(rgba(30, 100, 100, 1), rgba(30, 130, 130, 1), rgba(30, 100, 100, 1.0));
  box-shadow: 2px 2px 10px black;
  height: 143px;
  border-radius: 0px 0px 15px 15px;
  border: thin solid black;
  z-index: 2;
}

h1  {
  animation: h1-lights 7s ease-in-out infinite forwards;
  font-size: 400%;
  font-family: fantasy;
  line-height: 20px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 200%;
  font-family: fantasy;
  line-height: 5px;
  text-align: center;
  color: white;
}

h3 {
  font-size: 100%;
  font-family: fantasy;
  color: #505050;
  text-align: right;
  margin-top: -2%;
  margin-right: 2%;
  color: white;
}

@keyframes h1-lights {
  1%  {text-shadow: 0 0 10px red }
  14% {text-shadow: 0 0 10px orange;}
  28% {text-shadow: 0 0 10px yellow;}
  42% {text-shadow: 0 0 10px green;}
  56% {text-shadow: 0 0 10px blue;}
  70% {text-shadow: 0 0 10px indigo;}
  84% {text-shadow: 0 0 10px violet;}
  100% {text-shadow: 0 0 10px red;}
}

@keyframes cabecera-lights {
  0%  {box-shadow: 2px 6px 10px 5px red;}
  14% {box-shadow: 2px 6px 10px 5px orange;}
  28% {box-shadow: 2px 6px 10px 5px yellow;}
  42% {box-shadow: 2px 6px 10px 5px green;}
  56% {box-shadow: 2px 6px 10px 5px blue;}
  70% {box-shadow: 2px 6px 10px 5px indigo;}
  84% {box-shadow: 2px 6px 10px 5px violet;}
  100% {box-shadow: 2px 6px 10px 5px red;}
}

@keyframes fade-in {
  from {filter: opacity(0%);}
  to {filter: opacity(100%);}
}

@keyframes fade-out {
  from {filter: opacity(100%);}
  to {filter: opacity(0%);}
}

#menu-navegacion {
  margin-left: 0.20%;
  background: rgba(30,30,30,0.6);
  border: thin solid black;
  border-radius: 15px 15px 0px 0px;
  width: 14%;
  position: sticky;
  position: fixed;
  padding: 0.2%;
  top: calc(100% - 35px);
}

#boton-menu {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  padding: 0.3%;
  height: 30px;
}

#letra-boton-menu {
  color: white;
  text-align: center;
  animation: h1-lights 7s ease-in-out infinite forwards;
}

.entrada-menu {
  border: none;
  display: block;
  font-family: fantasy;
  cursor: pointer;
  margin: 1%;
  background: none;
  font-size: 80%;
  color: white;
}

@keyframes show {
  from {
    top: calc(100% - 35px);
  }
  to {
    top: calc(100% - 150px);
  }
}

@keyframes hide {
    from{
    top: calc(100% - 150px);
    }
    to {
      top: calc(100% - 35px);
    }
}

#contenedor-texto-1{
  background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(51,51,51,1) 25%, rgba(47,47,47,1) 51%, rgba(73,73,73,1) 80%, rgba(68,68,68,1) 100%);
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 0px 0px 5px 5px;
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
  padding-left: 0.2%;
  padding-right: 0.2%;
  padding-bottom: 0.2%;
}

#contenedor-texto-2 {
  border-radius: 0px 0px 5px 5px;
  font-size: 200%;
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
  background: rgba(170,170,170,0.8);
}

.titulo  {
  padding: 3%;
  background: url('img/circuitos.png') fixed center, linear-gradient(rgba(30, 50, 50, 1), rgba(30, 100, 100, 1), rgba(30, 50, 50, 1.0));
  box-shadow: 1px 1px 10px 0.2px black;
  color: white;
  font-family: fantasy;
}

.debajo-del-titulo {
  margin: 1%;
  font-family: fantasy;
}

#footer {
  border-top: 5px solid #282828;
  margin-top: 2%;
  background: url('img/circuitos.png'), linear-gradient(rgba(30, 100, 100, 1), rgba(30, 100, 100, 1), rgba(30, 100, 100, 1));
  color: white;
  padding: 1%;
  z-index: 3;
}

#contenedor-titulo-footer{
  float: left;
  width: 10%;
  height: 100%;
}

h12{
  animation: h1-lights 7s ease-in-out infinite forwards;
  font-family: fantasy;
  font-size: 300%;
}

h13 {
  font-family: fantasy;
  font-size: 200%;
  margin-left: 0.5%;
}

h14 {
  font-family: fantasy;
  font-size: 125%;
}

.social {
  margin-left: 5%;
  margin-right: 2%;
  width: 6%;
  margin-top: -3.5%;
  filter: grayscale(100%);
  cursor: pointer;
}

.social:hover {
  filter: grayscale(0%);
}

#twitter {
  margin-left: 30%;
}

#youtube {
  margin-bottom: 0.5%;
}

#mail {
  margin-bottom: 0.5%;
}
