* {
  box-sizing: border-box;
  /* border: thin solid black; */
  background-image: url("img/fondo.jpg");
}

.item {
   float: left;
   /*border: thin solid black; */
   width: 100%;
   background-image: url("img/submenu.png");
   font-family: fantasy blac;
   font-size: 20px;
   text-align: center;
   color: white;
}

#menu {
  /*border: thin solid black; */
  width: 20%;
  float: left;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem {
  border: thin solid black;
  font-family: fantasy;
  font-size: 15px;
  width: 186px;
  padding: 5px;
  background-image: url("img/submenu2.jpg");
  color: white;
}

.submenu {
  display: none;
  width: 100%;
}

.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}


#right-side {
  width: 80%;
  float: left;
  background-image: url("img/submenu2.jpg");
}

#top-menu {
  text-align: center;
  font-family: fantasy;
  background-image: url("img/submenu.png");
  font-size: 20px;
  color: white;
}

.card {
  width: 45%;
  border: thin solid black;
  float: left;
  margin: 2.5%;
     background-image: url("img/submenu.png");
}

#img1 {
  filter: invert(100%);
}

.card img {
  width: 90%;
  text-align: center;
}

.card button {
  float: right;
  padding: 5%;
  margin: 5%;

}
