body {margin: 0 auto; background: url("img/pedrerol.png");background-size: 100%; font-family: 'ABeeZee', sans-serif;}

#main-title {
  background: rgba(36,36,36,1);
  float: left;
  color: red;
  font-size: 200%;
  text-align: center;
  padding: 0.5%;
  width: 100%;
  font-weight: bold;
  border: thin solid black;
}

#main-menu {
  border-left: thin solid black;
  border-bottom: thin solid black;
  width: 35%;
  text-align: center;
  padding: 0.5%;
  font-size: 200%;
  float: right;
  background: rgba(36,36,36,1);
  color: white;
  overflow-y: scroll;
}

.secondary-menu {
  border: thin solid black;
  padding: 0.2%;
  width: 99%;
  background: rgba(100,100,100,0.8);
  margin: 0.5%;
  overflow: scroll;
}

.secondary-menu-title {
  font-size: 70%;
  color: #191919;
}

.quest-menu {
  width: 98%;
  background: black;
  float: left;
  padding: 0.5%;
  margin: 0.2%;
  font-size: 50%;
  text-align: left;
}
