body {
	background-image: linear-gradient(135deg, rgba(143,196,0,1),rgba(143,196,0,1));
	width: auto;
	height: 100%; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 20px;
    text-align: center;
}

.titulo {
	text-align; center;
}

h1 {
	text-align: center;
	text-decoration: underline;
	font-family: OCR A Std, monospace;
	text-shadow: 1px 1px #BF3F3F;
}

h2 {
	text-shadow: 1px 1px #BF3F3F;
	font-family: OCR A Std, monospace;
}

a {
	color: #BF3F3F;
	text-decoration: none;
} 

#link1 {
	position: absolute;
	top: 80px;
	left: 650px;
}

#link2 {
	position: absolute;
	top: 80px;
	left: 830px;
	
}

#link3 {
	position: absolute;
	top: 80px;
	left: 1035px;
	
}