body {
	background-attachment: fixed;
	background: linear-gradient(135deg, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%);
}

h1 {
	text-align: center;
	text-decoration: underline;
	font-family: OCR A Std, monospace;
	text-shadow: 1px 1px #3F3FBF;
}

h2 {
	text-align: center;
	text-shadow: 1px 1px #3F3FBF;
	font-family: OCR A Std, monospace;
}

h3 {
	margin-top: 50px;
	text-align: center;
	font-family: OCR A Std, monospace;
	text-shadow: 1px 1px #3F3FBF;
}

p { 
	margin-left: 200px;
	margin-right: 200px;
	font-family: Bradley Hand, cursive;
	font-size: 15px;
	line-height: 25px;
}

#ultimoparrafo {
	margin-bottom: 200px;
}
a {
	color: #3F3FBF;
	text-decoration: none;
} 

#link1 {
	position: absolute;
	top: 80px;
	left: 650px;
}

#link2 {
	position: absolute;
	top: 80px;
	left: 860px;
	
}

#link3 {
	position: absolute;
	top: 80px;
	left: 1035px;
}

img {
	display: block;
	margin-left: auto;
    margin-right: auto;
	height: 500px;
	width: 700px;
}