body {
	background-image: radial-gradient(rgba(0,183,234,1),rgba(0,158,195,1));
	width: auto;
	height: 100%; 
	/*background-image: radial-gradient(white, grey);*/
}

#tabla {
    font-family: Bradley Hand, cursive;
    border-collapse: collapse;
    width: 100%;
	
}

.tdtabla {
    border: 1px solid #008B8B;
    text-align: center;
    padding: 8px;
}

.thtabla {
	background-image: linear-gradient(rgba(255,0,0,0), rgba(63,191,191,1));
	border: 1px solid #008B8B;
    text-align: center;
    padding: 8px;
}

.trtabla:nth-child(even) {
    background-color: #48D1CC; 
}

tr, td, th {
	padding: 15px;
}

h1 {
	text-align: center;
	text-decoration: underline;
	font-family: OCR A Std, monospace;
	text-shadow: 1px 1px #58FA58;
}

h2 {
	text-shadow: 1px 1px #58FA58;
	font-family: OCR A Std, monospace;
}
.tablagrande {
    position: absolute;
	top: 100px;
	left: 370px;
	
}

a {
	color: #58FA58;
	text-decoration: none;
} 

#link1 {
	position: absolute;
	top: 80px;
	left: 650px;
}

#link2 {
	position: absolute;
	top: 80px;
	left: 850px;
	
}

#link3 {
	position: absolute;
	top: 80px;
	left: 1035px;
	
}