body {
  box-sizing: border-box;
  margin: 0 auto;
}

#divprincipal {
  margin: 2%;
  width: 1820px;
  height: 780px;
  overflow: hidden;
  border: thin solid black;
}

#fondo {
  background: url('img/fondo/fondo.png') no-repeat;
  background-size: 14600px 780px;
  height: 780px;
  width: 4480px;
  animation: transicion-fondo 1s steps(8) infinite forwards;
}

@keyframes transicion-fondo {
  100% { background-position: -14600px;}
}

#ace {
  background: url("img/ace/ace-playing.png");
  background-size: 2746px 90px;
  height: 90px;
  width: 137.3px;
  top: -123px;
  left: 1200px;
  position: relative;
  animation: ace-playing 2s steps(20) infinite forwards;
}

@keyframes ace-playing {
  100% {background-position: -2746px;}
}

#sephiroth {
  position: relative;
  transform: scaleX(-1); /* Cambia de orientación la imagen */
  animation: sephiroth-basic 0.7s steps(4) forwards, sephiroth-attack 11s steps(54) infinite forwards;
}

@keyframes sephiroth-basic {
  0% {
    background: url("img/sephiroth/sephiroth-basic.png");
    background-size: 456px 90px;
    height: 90px;
    width: 114px;
    top: -300px;
    left: 700px;
  }

  100% {background-position: -456px;}
}

@keyframes sephiroth-attack {
  0% {
    background: url("img/sephiroth/sephiroth-attack.png");
    background-size: 19404px 182px;
    height: 182px;
    width: 359px;
    top: -300px;
    left: 700px;
  }

  100% {background-position: -38000px;}
}


#dan {
  background: url("img/invocations/dan.png") no-repeat;
  background-size: 14960px 400px;
  height: 400px;
  width: 300px;
  position: relative;
  top: -490px;
  left: 1300px;
  animation: dan 2s steps(44) infinite forwards, dan-movement 2.5s steps(100) infinite forwards;
}

@keyframes dan {
  100% {background-position: -14960px;}
}

@keyframes dan-movement {
  100% {margin-left: -400px;}
}

#ara {
  background: url("img/invocations/ara.png") no-repeat;
  background-size: 4420px 300px;
  height: 300px;
  width: 270px;
  position: relative;
  top: -770px;
  left: 700px;
  animation: ara 2.5s steps(17) infinite forwards, ara-movement 2.5s steps(100) infinite forwards;
}

@keyframes ara {
  100% { background-position: -4420px; }
}

@keyframes ara-movement {
  100% {margin-left: -400px;}
}

#lara {
  background: url("img/invocations/lara.png") no-repeat;
  background-size: 6440px 300px;
  height: 300px;
  width: 230px;
  position: relative;
  top: -1110px;
  left: 800px;
  transform: scaleX(-1); /* Cambia de orientación la imagen */
  animation: lara 2.5s steps(28) infinite forwards, lara-movement 2.5s steps(100) infinite forwards;
}

@keyframes lara {
  100% {background-position: -6440px;}
}

@keyframes lara-movement {
  100% {margin-left: 400px;}
}
