body { box-sizing: border-box; margin: 0 auto; overflow: auto; background: url('img/background/ricardo.gif'); background-size: 100%; overflow-x:hidden;}

#divprincipal {
  width: 100%;
  height: 100%;
  border: thin solid transparent;
}

.fondo {
  width: 100%;
  height: 793px;
  position: absolute;
}

@keyframes parallax {
  100% { background-position: -928px; }
}

.change {
  position: relative;
  border: transparent;
  background: rgba(22, 22, 22 ,0.5);
  color: white;
  font-family: fantasy;
  font-size: 150%;
  margin-bottom: 1%;
  display: none;
}

.identificator {
  position: relative;
  background: rgba(36,36,36,0.8);
  background-size: 100%;
  color: white;
  font-family: fantasy;
  font-size: 100%;
  text-align: center;
}

#test {
  display: none;
}

#adventurer {
  position: absolute;
  top: 683px;
  left: 10%;
}

@keyframes adventurer-run {
  100%  {background-position: -150px;}
}

@keyframes run {
  from {
    left: 20%;
  }

  to {
    left: 30%;
  }
}

@keyframes adventurer-idle {
  100%  {background-position: -250px;}
}


@keyframes adventurer-walk {
  100%  {background-position: -400px;}
}


@keyframes adventurer-jump {
    100% {background-position: -500px;}
}

@keyframes jump {
  10% {top: 683px;}
  40% {top: 683px;}
  50% {top: 665px;}
  70% {top: 645px;}
  80% {top: 655px;}
  85% {top: 665px;}
  92% {top: 675px;}
  100% {top: 683px;}
}

@keyframes squat {
  100% {background-position: -300px;}
}

@keyframes adventurer-bow {
    100% {background-position: -400px;}
}

@keyframes attack {
  100% {background-position: -400px;}
}

@keyframes die {
  100% {background-position: -500px;}
}

#arrow {
  background: url('img/arrow.png');
  width: 35px;
  height: 20px;
  background-size: 35px 20px;
  position: absolute;
  transform: scaleX(-1);
  filter: invert(100%);
  display: block;
  opacity: 0;
}

@keyframes arrow-movement {
  to {left: 110%;}
}

#skeleton {
  position: absolute;
  width: 46px;
  height: 70px;
  top: 660px;
  left: 80%;
  background: url('img/skeleton/skeleton-walk.png');
  background-size: 600px 70px;
  display: none;
}

@keyframes skeleton-walk {
  100%  {background-position: -600px;}
}

@keyframes skeleton-walk-movement-go {
  from {
    left: 80%;
  }
  to {
    left: 90%;
  }
}

@keyframes skeleton-walk-movement-come {
  100% {left: 0%;}
}

@keyframes skeleton-react {
  100% {background-position: -180px;}
}

@keyframes skeleton-attack {
  100% {background-position: -1200px;}
}

@keyframes skeleton-idle {
  100% {background-position: -520px;}
}

@keyframes skeleton-die {
  100% {background-position: -1000px;}
}

#keypressed {
  position: absolute;
  color: white;
  font-family: fantasy;
  width: 20%;
  height: 20%;
  top: 500px;
  left: 75%;
  display: none;
}

.key {
  text-align: center;
  background: rgba(22, 22, 22 ,0.8);
  width: 20%;
  padding: 5%;
  position: absolute;
  border: thin solid #363636;
}

#keyW {
 left: 35%;
}

#keyA {
 top: 30%;
 left: 5%;
}

#keyS {
  top: 30%;
  left: 35%;

}

#keyD {
  top: 30%;
  left: 65%;
}

#keyE {
  left: 65%;
}

#keySPACE {
  top: 60%;
  left: 5%;
  width: 80%;
  padding: 5%;
}

.alerta {
  width: 13%;
  margin-left: 1%;
  margin-top: 1%;
  position: absolute;
  background: rgba(222, 222, 222 ,0.7);
  padding: 2%;
  font-family: fantasy;
}

#alerta-controles {
  display: none;
}


@keyframes approaching {
  90% {filter: hue-rotate(180deg);}
}

#alerta-RUN {
  display: none;
  text-align: center;
  width: 90%;
  margin-left: 2.5%;
  font-size: 200%;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out {
  100% {opacity: 0;}
}

.ending {
  position: absolute;
  background: rgba(222, 222, 222 ,0.7);
  padding: 2%;
  font-family: fantasy;
  font-size: 500%;
  width: 70%;
  top: 15%;
  left: 15%;
  display: none;
}

.tryAgain {
  background: #363636;
  border: none;
  color: white;
  border-radius: 15px 15px 15px 15px;
  font-size: 80%;
  width: 100%;
}
