body  { margin: 0 auto;}

#calculadora {
  border-radius: 20px;
  float: left;
  margin-top: 13%;
  margin-left: 40%;
  border: 2px solid #363636;
  background-color: grey;
  width: 12.7%;
  padding: 1%;
}

#display {
  text-align: right;
}

#contenedor-botones {
  float: right;
  background-color: #505050;
  border-radius: 0px 0px 10px 10px;
}

#contenedor-controladores {
  margin-left: 26%;
  float: left;
}

.controladores{

}

#contenedor-numeros {
  float: right;
  width: 62%;
  margin-right: 12%;
}

.numeros {
  margin: 2%;
}

#contenedor-funciones {
  float: left;
  display: inline-grid;
  margin-left: 10%;
}

.funciones {
  margin: 2%;
}
