* { box-sizing: border-box; }
body {
  margin: 0px;
}
.row {
  width: 100%;
  font-weight: bold;
  font-family: fantasy;
}
#column-left {
  width: 10%;
  float: left;
  border: thin solid brown;
  padding: 15px;
  text-align: center;
  background-color: brown;
  color: white;
  font-size: 30px;
 }

#column-medium {
  width: 90%;
  float: left;
  border: thin solid brown;
  padding: 15px;
  text-align: center;
  background-color: orange;
  font-size: 30px;
  color: black;
 }
.menu {
  width: 10%;
  background-image: url("img/sky.jpg");
}
.cosas-menu {
  font-weight: bold;
  font-family: fantasy;
  border: thin solid black;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
}

#debajo-del-titulo {
  width: 100%;
  background-color: black;
}
